@charset "utf-8";

/*
main css: #main 공통, #main section
최초 작성일: 2024.09.19
최초 작성자: 남서연
*/

/*main 공통*/
#main {
  background: url(../img/main/main-bg.png) no-repeat center / cover;
  position: relative;
}

#main .inner {
  text-align: center;
}

#main h2 {
  font-size: 4.8rem;
  font-weight: normal;
}

#main h2 span {
  font-weight: 600;
}

/*main-visual*/
#main-visual {
  padding-top: 70px;
  text-align: center;
  position: relative;
  height: 1200px;
}

.visual-wrap {
  background-color: #fff;
  width: 70%;
  height: 1055px;
  border-radius: 5%;
  padding: 90px 0;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.visual-wrap h2 {
  margin-bottom: 30px;
}

.visual-wrap h2 span {
  background-color: rgba(255, 249, 83, 0.4);
}

.visual-wrap img {
  width: 70%;
}

.pencil {
  width: 30%;
  height: auto;
  position: absolute;
  top: 80%;
  right: 7%;
}

.ham, .mgnb-close {
  cursor: pointer;
}

#mpen1 {
  display: none;
}

/*main-visual 모바일*/
@media screen and (max-width : 768px) {
  #main-visual {
    height: 550px;
  }

  .visual-wrap {
    width: 90%;
    height: 450px;
    top: 70px;
    padding: 50px 15px 0;
  }

  #main h2 {
    font-size: 1.8rem;
  }

  .visual-wrap img {
    width: 100%;
  }

  .pencil {
    width: 50%;
    top: 75%;
  }

  #pen1 {
    display: none;
  }

  #mpen1 {
    display: block;
    padding-top: 60px;
  }
}

/*bg pen1*/
#drow1{stroke-dasharray: 300; stroke-dashoffset: 300;animation: drow1-anim  .3s linear 0s forwards;}
#drow2{stroke-dasharray: 500; stroke-dashoffset: 500;animation: drow2-anim .8s linear .2s forwards;}
#drow3{stroke-dasharray: 2100; stroke-dashoffset: 2100;animation: drow3-anim 1.5s linear .85s forwards;}
      
@keyframes drow1-anim {
  from {stroke-dashoffset : 300px;}
  to {stroke-dashoffset : 0px;}
}
@keyframes drow2-anim {
  from {stroke-dashoffset : 500px;}
  to {stroke-dashoffset : 0px;}
}
@keyframes drow3-anim {
  from {stroke-dashoffset : 2100px;}
  to {stroke-dashoffset : 0px;}
}

#mpen1{stroke-dasharray: 700; stroke-dashoffset: 700;animation: mpen1-anim  1.5s linear 0.2s forwards;}

@keyframes mpen1-anim {
  from {stroke-dashoffset : 700px;}
  to {stroke-dashoffset : 0px;}
}


/*file*/
#file {
  padding: 200px 0;
}

#file p {
  padding-top: 15px;
  font-size: 2.4rem;
}

#file .file-list {
  padding-top: 65px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

#file .file-list li {
  width: 215px;
  height: 186px;
}

#file .file-list .file-top {
  display: flex;
  gap: 40px;
}

#file .file-list .file-bottom {
  display: flex;
  gap: 40px;
}

/*file 모바일*/
@media screen and (max-width : 768px) {
  #file {
    padding: 70px 0;
  }

  #file .inner {
    width: 100%;
    padding: 0 5%;
  }

  #file p {
    font-size: 1.2rem;
  }

  #file .file-list {
    gap: 10px;
  }

  #file .file-list img {
    width: calc(100% - 20px) / 3;
    height: 94px;
  }

  #file .file-list .file-top {
    gap: 10px;
  }

  #file .file-list .file-bottom {
    gap: 10px;
  }
}

/*funtion*/
#funtion {
  position: relative;
  text-align: center;
  height: 2160px;
}

#funtion h2 {
  padding-bottom: 45px;
}

#funtion div .txt-box h3 {
  font-size: 4rem;
  font-weight: 500;
  padding-bottom: 70px;
}

#funtion div.txt-box span {
  background-color: rgba(255, 249, 83, 0.4);
}

#funtion div .txt-box p {
  font-size: 2.4rem;
}

#funtion div .img-box {
  width: 50%;
}

#funtion div .img-box img {
  width: 100%;
}

#funtion div .txt-box {
  text-align: left;
  padding-top: 70px;
}

#funtion .card1 {
  width: 70%;
  height: 650px;
  padding: 80px 0 80px 120px;
  display: flex;
  justify-content: space-between;
  background: #fff url(../img/main/card1-bg.png) no-repeat left 40% bottom;
  border-radius: 50px;
  margin-bottom: 70px;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#funtion .card2 {
  width: 70%;
  height: 650px;
  padding: 80px 0 80px 120px;
  display: flex;
  justify-content: space-between;
  background: #fff url(../img/main/card2-bg.png) no-repeat left 40% bottom 150px;
  border-radius: 50px;
  margin-bottom: 70px;
  position: absolute;
  top: 780px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#funtion .card3 {
  width: 70%;
  height: 650px;
  padding: 80px 0 80px 120px;
  display: flex;
  justify-content: space-between;
  background: #fff url(../img/main/card3-bg.png) no-repeat left 50% top 130px;
  border-radius: 50px;
  position: absolute;
  top: 1450px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#mpen2 {
  display: none;
}

/*funtion 모바일*/
@media screen and (max-width : 768px) {
  #funtion {
    height: 850px;
  }
  #funtion h2 {
    padding-bottom: 20px;
  }

  #funtion div .txt-box {
    padding-top: 20px;
  }

  #funtion div .txt-box h3 {
    font-size: 1.4rem;
    text-align: center;
    padding: 0;
  }

  #funtion div .txt-box p,
  #funtion div .txt-box br {
    display: none;
  }

  #funtion div .img-box {
    width: 60%;
    margin: 0 auto;
  }

  #funtion .card1 {
    width: 90%;
    height: 230px;
    flex-direction: column-reverse;
    padding: 25px 0 20px;
    border-radius: 10px;
    background: #fff url(../img/main/card1-mbg.png)no-repeat left 95% top 125px;
    top: 50px;
  }
  #funtion .card2 {
    width: 90%;
    height: 230px;
    flex-direction: column-reverse;
    padding: 25px 0 20px;
    border-radius: 10px;
    background: #fff url(../img/main/card2-mbg.png)no-repeat left 10% top 170px;
    top: 295px;
  }
  #funtion .card3 {
    width: 90%;
    height: 230px;
    flex-direction: column-reverse;
    padding: 25px 0 20px;
    border-radius: 10px;
    background: #fff url(../img/main/card3-mbg.png)no-repeat left 95% top 30px;
    top: 540px;
  }

  #pen2 {
    display: none;
  }

  #mpen2 {
    display: block;
    padding-top: 30px;
  }
}

/*bg pen2*/
#funtion.active #p2drow1{stroke-dasharray: 2000; stroke-dashoffset: 2000;animation: p2drow1-anim  1s linear 0s forwards;}
#funtion.active #p2drow2{stroke-dasharray: 600; stroke-dashoffset: 600;animation: p2drow2-anim .5s linear 1s forwards;}
#funtion.active #p2drow3{stroke-dasharray: 500; stroke-dashoffset: 500;animation: p2drow3-anim .3s linear 1.4s forwards;}
      
@keyframes p2drow1-anim {
  from {stroke-dashoffset : 2000px;}
  to {stroke-dashoffset : 0px;}
}
@keyframes p2drow2-anim {
  from {stroke-dashoffset : 600px;}
  to {stroke-dashoffset : 0px;}
}
@keyframes p2drow3-anim {
  from {stroke-dashoffset : 500px;}
  to {stroke-dashoffset : 0px;}
}

#pen2 {
  opacity: 0;
}

#funtion.active #pen2 {
  opacity: 1;
}

/*library*/
#library {
  padding: 150px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#library h2 {
  padding-bottom: 65px;
}

#library .library-list {
  height: 550px;
}

.library-list ul li {
  position: relative;
}

.library-list ul li.odd {
  transform: translateY(50px);
}

.library-list dl {
  position: absolute;
  top: 60%;
  left: 10%;
  text-align: left;
}

.library-list dl dd {
  font-size: 2.4rem;
  font-weight: 500px;
}

#mpen3 {
  display: none;
}

/*library 모바일*/
@media screen and (max-width : 768px) {
  #library {
    padding: 0;
  }

  #library h2 {
    padding-bottom: 20px;
  }

  #library .library-list {
    height: 210px;
  }

  .library-list ul li img {
    width: 155px;
    height: 209px;
  }

  .library-list ul li.odd {
    transform: translateY(0);
  }

  .library-list dl {
    top: 70%;
    left: 15%;
  }

  .library-list dl dt {
    font-size: 1.2rem;
  }

  .library-list dl dd {
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  #pen3 {
    display: none;
  }

  #mpen3 {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
  }
}

/*bg-pen3*/
#library.active #pen3{stroke-dasharray: 4000; stroke-dashoffset: 4000;animation: pen3-anim 2s linear 0s forwards;}
      
@keyframes pen3-anim {
  from {stroke-dashoffset : -4000px;}
  to {stroke-dashoffset : 0px;}
}

#pen3 {
  position: absolute;
  top: 120px;
  left: 0;
  opacity: 0;
}

#library.active #pen3 {
  opacity: 1;
}

/*question*/
#question {
  padding: 150px 0;
}

#question h2 {
  padding-bottom: 70px;
}

.q-list {
  width: 70%;
  margin: 0 auto;
}

.q-list > li {
  border-top: 1px solid #000;
  padding: 20px 0 20px 50px;
  font-size: 2.4rem;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.q-list > li:last-child {
  border-bottom: 1px solid #000;
}

.a-list li {
  padding: 20px 50px;
  font-size: 1.8rem;
}

.chevron_right {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}

.chevron_right.active {
  transform: rotate(90deg);
  top: 20%;
}

/*question 모바일*/
@media screen and (max-width : 768px) {
  #question {
    padding: 50px 0;
  }

  #question h2 {
    font-size: 1.8rem;
    padding-bottom: 30px;
  }

  .q-list {
    width: 90%;
  }

  .q-list > li {
    padding: 10px 0 10px 20px;
    font-size: 1.2rem;
  }

  .chevron_right.active {
    top: 5%;
  }

  .a-list li {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

/*down-link*/
#down-link {
  padding: 100px 0;
  background-color: #88A5E3;
  position: relative;
}

#down-link .inner {
  display: flex;
  padding: 100px 200px;
}

#down-link .ipad {
  width: 70%;
  position: relative;
  z-index: 8;
}

#down-link .ipad img {
  width: 100%;
}

#down-link .ipad h4 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
}

#down-link .ipad h4 span {
  display: block;
  font-weight: bold;
}

#down-link .ipad .qr {
  display: flex;
  gap: 60px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

#down-link .ipad .qr p {
  text-align: center;
}

#down-link .ipad .m-app {
  display: none;
}

#down-link .iphone {
  width: 25%;
  position: relative;
  transform: translate(25%, 13%);
  z-index: 9;
}

#down-link .iphone .iphone-img {
  width: 100%;
}

#down-link .iphone .iphone-logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#down-link .iphone p {
  font-size: 4rem;
  font-weight: 500;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: #4262FF;
}

#down-link .iphone a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #4262FF;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

#mpen4 {
  display: none;
}

/*down-link 모바일*/
@media screen and (max-width : 768px) {
  #down-link {
    padding: 50px 0;
  }

  #down-link .inner {
    padding: 20px 40px 20px 5px;
  }

  #down-link .ipad {
    width: 80%;
  }

  #down-link .ipad h4 {
    font-size: 1.2rem;
    top: 30%;
  }

  #down-link .ipad .qr {
    display: none;
  }

  #down-link .ipad .m-app {
    display: inline-block;
    padding: 5px 12px;
    background-color: #4262FF;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }

  #down-link .iphone p {
    font-size: 1.2rem;
  }

  #down-link .iphone .iphone-logo {
    width: 30%;
  }

  #down-link .iphone a {
    display: none;
  }

  #pen4 {
    display: none;
  }

  #mpen4 {
    display: block;
    position: absolute;
    top: 52%;
    left: 0;
  }
}

/*bg-pen4*/
#down-link.active #p4drow1{stroke-dasharray: 2000; stroke-dashoffset: 2000;animation: p2drow1-anim  .9s linear 0s forwards;}
#down-link.active #p4drow2{stroke-dasharray: 750; stroke-dashoffset: 750;animation: p2drow2-anim 1.1s linear .8s forwards;}
#down-link.active #p4drow3{stroke-dasharray: 500; stroke-dashoffset: 500;animation: p2drow3-anim .4s linear 1.7s forwards;}
      
@keyframes p4drow1-anim {
  from {stroke-dashoffset : -2000px;}
  to {stroke-dashoffset : 0px;}
}
@keyframes p4drow2-anim {
  from {stroke-dashoffset : 750px;}
  to {stroke-dashoffset : 0px;}
}
@keyframes p4drow3-anim {
  from {stroke-dashoffset : 500px;}
  to {stroke-dashoffset : 0px;}
}

#pen4 {
  position: absolute;
  top: 30%;
  left: 0;
  opacity: 0;
}

#down-link.active #pen4 {
  opacity: 1;
}